body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vb;
    background-color: whitesmoke;
}

#btn1{
    font-size: 100px;
    width: 180px;
    height: 180px;
    border: 3px solid black;
    border-radius: 50px;
}