/* Reset basic junk */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(236, 72, 72);
    font-family: Arial, sans-serif;
}

/* Top heading */
#page-heading {
    text-align: center;
    padding: 20px;
}

/* Navbar */
#nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 15px 80px;
}

/* Left side */
#nav-left img {
    height: 40px;
    width: auto;
    display: block;
}
/* Right side */
#nav-right ul {
    display: flex;
    list-style: none;
    gap: 25px;
}

#nav-right ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

#nav-right ul li a:hover {
    color: lightblue;
}
